################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/WypTest1/v15/Server/sqlite3/db.lock
/Wypozyczalnia/.vs/Wypożyczalnia samochodów/v15/Server/sqlite3/db.lock
/.vs/config/applicationhost.config
/.vs/Wypozyczalnia2/v15/.suo
/.vs/Wypożyczalnia/v15/.suo
/.vs/tasks.vs.json
/Wypozyczalnia/.vs/Wypożyczalnia samochodów/v15/Server/sqlite3/storage.ide-shm
/Wypozyczalnia/.vs/Wypożyczalnia samochodów/v15/Server/sqlite3/storage.ide-wal
