<?xml version="1.0" encoding="utf-8"?>

<!--
  Aby uzyskać więcej informacji o sposobie konfigurowania aplikacji ASP.NET, odwiedź stronę
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
