<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WypTest1.Properties.Settings.wypozyczalniaConnectionString"
        connectionString="Data Source=iie-io-gr2.database.windows.net;Initial Catalog=wypozyczalnia;Persist Security Info=True;User ID=IOadmin"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>